{% extends 'base.html' %}
{% block maincontent %}
    
    <div class="auth-container">
        <h1>Hospital Registration</h1>

        <form action="" method="post">
            {% csrf_token %}
            {{userForm.errors}}
            {{hospitalForm.errors}}
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" name="username">
            </div>

            <div class="input-group">
                <label for="username">Hospital Name</label>
                <input type="text" name="name">
            </div>


            <div class="input-group">
                <label for="username">Location</label>
                <input type="text" name="location">
            </div>

            <div class="input-group">
                <label for="username">Phone</label>
                <input type="text" name="mobile">
            </div>

            <div class="input-group">
                <label for="username">Email</label>
                <input type="email" name="email">
            </div>

           
            <div class="input-group">
            <label for="password">Password</label>
            <input type="password" name="password1">
            </div>

            <div class="input-group">
                <label for="password">Confirm Password</label>
                <input type="password" name="password2">
            </div>

            <br>
            <button class="btn btn-success" type="submit"><b>Register</b> </button>
        </form>

        <p>Already Registered? <a href="{% url 'login' %}">Login</a></p> 
    </div>

{% endblock %}