<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Website icon -->
    <link rel="icon" href="images/icon.ico" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- fontawesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
   

</head>
<body>
    
    <div class="auth-container">
        <h1>Make Blood Request</h1>

        <form action="" method="post">
            {% csrf_token %}
            <div class="input-group">
                <label for="username">Patient Name</label>
                <input type="text" name="patient_name">
            </div>

            <div class="input-group">
                <label for="username">Patient Age</label>
                <input type="number" name="age">
            </div>

            <div class="input-group">
                <label for="username">Reason</label>
                <input type="text" name="reason">
            </div>

            <div class="input-group">
                <label for="username">Blood Group</label>
                <select name="bloodgroup" id="">
                    <option value="">A+</option>
                    <option value="">A-</option>
                    <option value="">B+</option>
                    <option value="">B-</option>
                    <option value="">O+</option>
                    <option value="">O-</option>
                    <option value="">AB+</option>
                    <option value="">AB-</option>
                </select>
            </div>

            <div class="input-group">
                <label for="username">Units</label>
                <input type="number" name="unit">
            </div>

            

        
            <button class="btn" type="submit"><b>Request</b> </button>
        </form>
    </div>

    

    <!-- Custom JS -->
    <script src="js/script.js"></script>
</body>
</html>