/* Fonts */

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Fira Sans */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Oxygen */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Color Variables */
:root {
    --red: #D1270A;
    --dark: #1A2035;
  }

/* Global Styling */
*
{
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body
{
  background-color: #f5f5f5;
}

.btn 
{
  padding: 10px;
}

a
{
  text-decoration: none;
}

/* header section */
.header
{
  background-color: var(--dark);
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

.header .logo 
{
  display: flex;
  gap: 10px;
  align-items: center;
}

.header .logo img
{
  width: 25px;
  height: 30px;
}

.header .logo h1
{
  color: white;
  font-size: 22px;
}

.links
{
  display: flex;
  /* align-items: center; */
  list-style-type: none;
}

.links li 
{
  padding-left: 20px;
}

.links li a 
{
  text-decoration: none;
  color: white;
}

/* header section end */

/* main content start */

.content
{
  height: 100vh;
  padding: 5px;
  display: flex;
}

.content-left
{
  height: 100%;
  background-color: var(--dark);
  flex: 2;
  /* border: 1px solid red; */
  border-radius: 5px;
  
}

.content-left ul
{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
}

.content-left ul li 
{
  padding: 13px;
  width: 90%;
}

.content-left ul li a 
{
  text-decoration: none;
  color: white;

}

.content-left ul li:hover
{
  background-color: var(--red);
  border-radius: 6px;
}

.content-right
{
  /* display: flex; */
  flex: 8;
  /* border: 1px solid red; */
  padding: 20px;

  
}

/* main content end */

/* admin dashboard */


.content-right h1 
{
  margin-bottom: 20px;
}

.summary
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0px auto;
  /* border: 1px solid red; */
  gap: 30px;
}

.summary .card
{
  height: 100px;
  background-color: var(--dark-alt);
  padding: 0px 0px 15px 15px ;
  color: white;
}

/* admin dashboard end */

/* generic table */

.table-title
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}



/* .content-right .table
{
  border-collapse: collapse;
  color: white;
  width: 95%;
}

.content-right .table th
{
  background-color: var(--red);
  padding: 10px;
}

.content-right .table td
{
  color: white;
  padding: 10px;
} */

/* tableend */


/* authentication start */

.auth
{
  background-color: var(--dark);
  position: relative;
}

.auth-container
{
  width: 60%;
  background-color: #f5f5f5;
  margin: 50px  auto;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-container h1 
{
  text-align: center;
  color: var(--dark);
  margin-top: 30px;
}

.auth-container a 
{
  color: white;
}


.auth-container form
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  margin: 10px auto;
}



.input-group
{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 30px;

}

.input-group label
{
font-size: 18px;
margin-bottom: 5px;
}

.input-group input, select
{
  width: 100%;
  font-size: 16px;
  border: 1px solid gray;
  outline: none;
  border-radius: 5px;
  padding: 15px;
}



/* auth end */