{% extends 'admin/admin_base.html' %}
{% block content %}

                <h1>Dashboard</h1>
                <div class="summary">

               
                    <div class="card">
                        <h1>A+</h1>
                        <h5>{{Ap}} Units</h5>
                    </div>

                    <div class="card">
                        <h1>A-</h1>
                        <h5>{{Am}} Units</h5>
                    </div>

                    <div class="card">
                        <h1>B+</h1>
                        <h5>{{Bp}} Units</h5>
                    </div>

                    <div class="card">
                        <h1>B-</h1>
                        <h5>{{Bm}} Units</h5>
                    </div>

                    <div class="card">
                        <h1>O+</h1>
                        <h5>{{Op}} Units</h5>
                    </div>

                    <div class="card">
                        <h1>O-</h1>
                        <h5>{{Om}} Units</h5>
                    </div>

                    <div class="card">
                        <h1>AB+</h1>
                        <h5>{{ABp}} Units</h5>
                    </div>

                    <div class="card">
                        <h1>AB-</h1>
                        <h5>{{ABm}} Units</h5>
                    </div>
                  
                </div>
        
        

{% endblock content %}
