{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
            <h1>Blood Stock</h1>

            <a class="btn" href="{% url 'blood-stock-add' %}">Add blood group</a>
     
         <br><br><br>
            <table class="table">
                <thead>
                    <tr>
                        <th>S.N</th>
                        <th>Blood Group</th>
                        <th>Units</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for blood in bloods %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{blood.bloodgroup}}</td>
                        <td>{{blood.unit}}</td>
                        <td>{{blood.status}}</td>
                        <td><a href="{% url 'blood-stock-edit' blood.id  %}">Edit</a>
                       
                            <a href="{% url 'blood-stock-delete' blood.id  %}">Delete</a>
                        </td>
                        
                    </tr>
                    {% endfor %}
                    <!-- <tr>
                        <td>2</td>
                        <td>A-</td>
                        <td>5ml</td>
                        <td>Active</td>
                        <td><a href="#">Edit</a>
                            <a href="#">Delete</a>
                        </td>
                        
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>B+</td>
                        <td>5ml</td>
                        <td>Active</td>
                        <td><a href="#">Edit</a>
                            <a href="#">Delete</a>
                        </td>
                        
                    </tr>

                    <tr>
                        <td>4</td>
                        <td>B-</td>
                        <td>5ml</td>
                        <td>Active</td>
                        <td><a href="#">Edit</a>
                            <a href="#">Delete</a>
                        </td>
                        
                    </tr>

                    <tr>
                        <td>5</td>
                        <td>O+</td>
                        <td>5ml</td>
                        <td>Active</td>
                        <td><a href="#">Edit</a>
                            <a href="#">Delete</a>
                        </td>
                        
                    </tr>

                    <tr>
                        <td>6</td>
                        <td>O-</td>
                        <td>5ml</td>
                        <td>Active</td>
                        <td><a href="#">Edit</a>
                            <a href="#">Delete</a>
                        </td>
                        
                    </tr>

                    <tr>
                        <td>7</td>
                        <td>AB+</td>
                        <td>5ml</td>
                        <td>Active</td>
                        <td><a href="#">Edit</a>
                            <a href="#">Delete</a>
                        </td>
                        
                    </tr>

                    <tr>
                        <td>8</td>
                        <td>AB-</td>
                        <td>5ml</td>
                        <td>Active</td>
                        <td><a href="#">Edit</a>
                            <a href="#">Delete</a>
                        </td>
                        
                    </tr> -->
                </tbody>
            </table>


            {% endblock content %}
