{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
<div class="auth-container">
    <h1>Edit Blood Group</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="input-group">
                <label for="username">Blood Group Name</label>
                <input type="text" name="bloodgroup" value="{{item.bloodgroup}}">
            </div>

            <div class="input-group">
                <label for="username">Units</label>
                <input type="number" name="unit" value="{{item.unit}}">
            </div>

            <div class="input-group">
                <label for="username">Status</label>
                <select name="status" >
                    {% if item.status == "Active" %}
                    <option selected="selected">Active</option>
                    <option>Expired</option>
                    {% else %}
                    <option>Active</option>
                    <option selected="selected">Expired</option>
                    {% endif %}
                    
                </select>
            </div>

            <button class="btn" type="submit"><b>Update</b> </button>
        </form>
{% endblock %}

           

        </form>
</div>
