{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
<div class="auth-container">
    <h1>Add Blood Group</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="input-group">
                <label for="username">Blood Group Name</label>
                <input type="text" name="bloodgroup">
            </div>

            <div class="input-group">
                <label for="username">Units</label>
                <input type="number" name="unit">
            </div>

            <div class="input-group">
                <label for="username">Status</label>
                <select name="status">
                    <option disabled="disabled" selected="selected">Please Select</option>
                    <option>Active</option>
                    <option>Expired</option>
                </select>
            </div>

            <button class="btn" type="submit"><b>Add</b> </button>
        </form>
{% endblock %}

           

        
            <button class="btn" type="submit"><b>Add</b> </button>
        </form>
</div>
