<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Website icon -->
    <link rel="icon" href="images/icon.ico" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- fontawesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
   

</head>
<body>
    
    <div class="auth-container">
        <h1>Donor Registration</h1>

        <form action="" method="post">
            {% csrf_token %}
            {{userForm.errors}}
            {{donorForm.errors}}
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" name="username">
            </div>

            <div class="input-group">
                <label for="username">Full Name</label>
                <input type="text" name="name">
            </div>

            <div class="input-group">
                <label for="username">DOB</label>
                <input type="date" name="dob">
            </div>


            <div class="input-group">
                <label for="username">Location</label>
                <input type="text" name="location">
                
            </div>

            <div class="input-group">
                <label for="username">Phone</label>
                <input type="text" name="mobile">
            </div>

            <div class="input-group">
                <label for="username">Email</label>
                <input type="email" name="email">
            </div>


            <div class="input-group">
                <label for="username">Blood Group</label>
                <select name="bloodgroup" id="">
                    <option>A+</option>
                    <option>A-</option>
                    <option>B+</option>
                    <option>B-</option>
                    <option>O+</option>
                    <option>O-</option>
                    <option>AB+</option>
                    <option>AB-</option>
                </select>
            </div>

            <div class="input-group">
                <label for="username">Disease(if any)</label>
                <input type="text" name="disease" value="none">
            </div>

            <div class="input-group">
            <label for="password">Password</label>
            <input type="password" name="password1">
            </div>

            <div class="input-group">
                <label for="password">Confirm Password</label>
                <input type="password" name="password2">
                </div>

        
            <button class="btn" type="submit"><b>Register</b> </button>
        </form>

        <h3>Already Registered? <a href="login.html">Login</a></h3> 
    </div>

    

    <!-- Custom JS -->
    <script src="js/script.js"></script>
</body>
</html>