{% extends 'base.html' %}

{% block maincontent %}


    <div class="auth-container">
        <h1>LOGIN</h1>

        <form action="" method="post">
            {% csrf_token %}
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" name="username" >
            </div>

            <div class="input-group">
            <label for="password">Password</label>
            <input type="password" name="password" >
        </div>

       <br>
            <button class="btn btn-success" type="submit"><b>Login</b> </button>
        </form>

        <p>Not yet Registered?</p>
        <a  href="{% url 'donor-register' %}">Register as Donor</a>
        <a  href="{% url 'hospital-register' %}">Register as Hospital</a>
    </div>

{% endblock %}