<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Website icon -->
    <link rel="icon" href="images/icon.ico" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- fontawesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
   

</head>
<body>
    
    <div class="auth-container">
        <h1>Login</h1>

        <form action="" method="post">
            {% csrf_token %}
            <div class="input-group">
                
                <label for="username">Username</label>
                <input type="text" name="username">
            </div>

            <div class="input-group">
            <label for="password">Password</label>
            <input type="text" name="password">
        </div>

        
            <button class="btn" type="submit"><b>Login</b> </button>
        </form>

        <h3>Not yet Registered?</h3>
        <a class="special" href="registerdonor.html">Register as Donor</a>
        
        <a class="special" href="registerpatient.html">Register as Patient</a>
    </div>

    

    <!-- Custom JS -->
    <script src="js/script.js"></script>
</body>
</html>